/* CART TABLE */
#shopping-cart {
	max-width: 80%;
	margin: auto;
	font-family: 'Abel', sans-serif;
}
.btnAction {
	text-decoration: none;
}
#shopping-cart table {
	width: 100%;
	background-color: #3f3f3f;
	border-radius: 5px;
}
#shopping-cart table td {
	background-color: #FFFFFF;
	color: #3f3f3f;
}
#btnEmpty {
	border: #d24d57 1px solid;
	font-size: 1.3em;
	color: #d24d57;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0;
	width: 145px;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 6px;
}
#btnValidate {
	border: #3fc380 1px solid;
	font-size: 1.3em;
	color: #3fc380;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0;
	width: 145px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 6px;
}
.tbl-cart {
	font-size: 1em;
}

.tbl-cart th {
	font-weight: normal;
}
.product-tile-footer {
    padding: 15px;
    overflow: auto;
}
.cart-item-image {
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: #E0E0E0 1px solid;
    padding: 5px;
    vertical-align: middle;
    margin-right: 15px;
}
footer {
	position:fixed;
	bottom:0;
	font-size: .8em;
	font-family: 'Abel', sans-serif;
	width:100%;
	display:block;
	color: #CCCCCC;
}