.font {
    font-family: 'Abel', sans-serif;
    font-size: 15px;
    border-radius: 5px;
}
.title {
    font-family: 'Abel', sans-serif;
    font-size: 2em;
    position: relative;
    margin-top: 75px;
    margin-bottom: 0px;
    text-align: center;
    color: #000000;
}
.headtitle {
    font-family: 'Abel', sans-serif;
    margin: 0;
    font-size: 3em;
    color: #2e3131;
 }
.login-page {
    display: table;
    padding: 8% 0 0;
    margin: auto;
}
.box {
    display: inline-grid;
    z-index: 1;
    background: #FFFFFF;
    width: 450px;
    height: 450px;
    color: #556654;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}
#mv {
    margin-left: 75px;
}
.button {
    padding: 6px;
    font-size: 14px;
    width: 300px;
    background-color: #d24d57;
    color: #ffffff;
    border: none;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
.button:hover {
    background-color: #FFABA6;
    color: #556654;
}
.head {
    padding: 15px;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
}
input {
    padding: 5px;
    width: 290px;
    border: solid 0.5px #CCCCCC;
    text-align: center;
    margin-bottom: 10px;
}
.login-page a {
    margin: 0;
    size: auto;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
a {
    outline: none;
    text-decoration: none;
    color: white;
}
footer {
    position:fixed;
    bottom:0;
    font-size: .8em;
    font-family: 'Abel', sans-serif;
    width:100%;
    display:block;
    color: #CCCCCC;
}